
.collapse-navbar-collapse {
    float: right;
    font-size: 210%;
}


.jumbotron {
    background: url("http://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg") no-repeat 50% 0;
}



.navbar-navbar-default {
    font-family: 'Bungee', cursive;
}

.jumbotron-content {
    font-family: 'Bungee', cursive;
    color: rgb(0, 0, 0);
}


.gursimran {
    height: 75px;
    width: 75px;
}

.ajith {
    height: 75px;
    width: 75px;
}

.jamie {
     height: 75px;
     width: 75px;
}

.alay {
     height: 75px;
     width: 75px; 
}


.allgucci {
    height: 5px:
    width: 5px;
}